@charset "utf-8";
html,
body {overflow:hidden;overflow-y:visible}
body {background:#fff;font-family:'Poppins', "Spoqa Han Sans Neo", "맑은고딕","돋움",arial,Dotum,Verdana,helvetica,clean,sans-serif !important;color:#555;font-size:18px;font-weight:400;line-height:1.5;overscroll-behavior:none;-webkit-text-size-adjust:100%}