@charset "utf-8";
#contents {}
.mcontents .div-mcont {width:100%;max-width:1600px;margin:0 auto}
.mcontents h3 {margin-bottom:50px;color:#000;font-size:2.778em;font-weight:700}
/* ==============================
 * msec01
================================= */
.msec01 {background:#000022;position:relative;height:100vh;}
.msec01 #particles-js {position:absolute;left:0;top:0;width:100%;height:100%}
.msec01 #particles-js .count-particles {}
.msec01 .div-mcont {display:flex;align-items:center;justify-content:center;height:100%}
.msec01 .div-mcont h2 {color:#fff;font-size:2.778em;font-weight:700} 

/* ==============================
 * msec02
================================= */
.msec02 {background-color:#fff;height:100vh;padding:80px 0;overflow:hidden;box-sizing:border-box}
.msec02 h3 {text-align:center}
.msec02 .skill-list .flowing-animation .skill-txt {display:flex;width: calc((9000 * 100 / 1920)*1vw);height: calc((145 * 100 / 1920)*1vw);color:#efefef;font-size: calc((140 * 100 / 1920)*1vw);font-weight:700}
.msec02 .skill-list .flowing-animation .text-right {transform:translateX(-120px)}
.msec02 .skill-list .flowing-animation span {margin-right:15px}
.msec02 .skill-list .flowing-animation span.point {color:#000}

/* ==============================
 * msec03
================================= */
.msec03 {background:#000;border-radius:100px 100px 0 0;height:100vh;padding:70px 0;box-sizing:border-box}
.msec03 h3 {color:#fff;}
.msec03 .pf-swiper {}
.msec03 .pf-swiper .swiper-slide {}
.msec03 .pf-swiper .swiper-slide:nth-child(odd) {padding-top:50px}
.msec03 .pf-swiper .swiper-slide a,
.msec03 .pf-swiper .swiper-slide a > span {display:block}
.msec03 .pf-swiper .swiper-slide a .pf-tit {color:#fff;font-weight:700;font-size:1.222em;line-height:1.182}
.msec03 .pf-swiper .swiper-slide a .pf-date {padding-top:7px;color:#ccc;font-size:.889em;font-weight:500;letter-spacing:0;line-height:1.2}
.msec03 .pf-swiper .swiper-slide a .img-box {position:relative;border-radius:15px;margin-top:15px;overflow:hidden}
.msec03 .pf-swiper .swiper-slide a .img-box:before {content:"";display:block;width:0;padding-top:140%}
.msec03 .pf-swiper .swiper-slide a .img-box > img {position:absolute;left:0;top:0;width:auto;max-width:100%;transition:transform .5s ease-out;}
.msec03 .pf-swiper .swiper-slide a:hover  .img-box > img {transform:scale(1.1)}